body {
    background-color: rgb(230, 246, 255);
    color: rgb(33, 33, 39);
  }
  div {
    background-color: rgb(230, 246, 255);
    color: rgb(33, 33, 39);
  }
  .page-container {
    background-color: rgb(230, 246, 255);
    color: rgb(33, 33, 39);
  }
  